
@keyframes move_wave {
  0% {
      transform: translateX(0) translateZ(0) scaleY(1)
  }
  50% {
      transform: translateX(-25%) translateZ(0) scaleY(0.55)
  }
  100% {
      transform: translateX(-50%) translateZ(0) scaleY(1)
  }
}

.display {
  background-color: transparent;
}
.waveContainer {
  display: flex;
  flex-direction: column;
  bottom: -1px;
  background-image: linear-gradient(to top, #679a7f 20%, #44564e 80%);
  opacity: 0.9;
}
.waveWrapper {
  /* overflow: hidden; */
  display: flex;
  flex-direction: column-reverse;
  /* position: absolute; */
  left: 0;
  right: 0;
  bottom: 0;
  top: 0px;
  margin: auto;
  background-image: linear-gradient(to top, #679a7f 20%, #44564e 80%);
}
.waveWrapperInner {

  /* display: flex;
  flex-direction: column; */
  width: 100%;
  overflow: hidden;
  height: 100%;
  bottom: -1px;
  background-image: linear-gradient(to top, #679a7f 20%, #27273c 80%);
  
}
.bgTop {
  z-index: 5;
  opacity: 0.5;
}
.bgMiddle {
  z-index: 5;
  opacity: 0.75;
}
.bgBottom {
  z-index: 5;
}
.wave {
  position: absolute;
  left: 0;
  width: 200%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
  background-image: linear-gradient(to top, #679a7f 20%, #27273c 80%);

}
.waveTop {
  background-size: 30% 100px;
}
.waveAnimation .waveTop {
animation: move-wave 3s;
 -webkit-animation: move-wave 3s;
 -webkit-animation-delay: 1s;
 animation-delay: 1s;
 background-image: linear-gradient(to top, #679a7f 20%, #27273c 80%);
}
.waveMiddle {
  background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
  animation: move_wave 10s linear infinite;
}
.waveBottom {

  background-size: 50% 100px;
  background-image: linear-gradient(to top, #679a7f 20%, #27273c 80%);
}
.waveAnimation .waveBottom {
  animation: move_wave 15s linear infinite;
}

