body {
    position: relative;
}

html {
    /* height: 100%; */
    background-color: transparent;
  }
/* 
body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    background: linear-gradient(to bottom, #202020, #111119);
  } */